[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Akaros
	owner = group user/ron minnich (rminnich)
[access "refs/for/refs/*"]
	read = group Akaros
	read = group user/ron minnich (rminnich)
	push = group Akaros
	push = group user/ron minnich (rminnich)
	label-Code-Review = -2..+2 group Akaros
	label-Code-Review = -2..+2 group user/Dan Cross (dancrossnyc)
	label-Code-Review = -2..+2 group user/GanShun
	label-Code-Review = -2..+2 group user/ron minnich (rminnich)
	label-Verified = -1..+1 group Akaros
	label-Verified = -1..+1 group user/ron minnich (rminnich)
	rebase = group Akaros
	rebase = group user/ron minnich (rminnich)
	removeReviewer = group Akaros
	removeReviewer = group user/ron minnich (rminnich)
	submit = group Akaros
	submit = group user/ron minnich (rminnich)
[access "refs/heads/*"]
	read = group user/ron minnich (rminnich)
	create = group user/ron minnich (rminnich)
	push = +force group user/ron minnich (rminnich)
	pushMerge = group user/ron minnich (rminnich)
[access "refs/tags/*"]
	push = +force group user/ron minnich (rminnich)
	pushTag = group user/ron minnich (rminnich)
	pushSignedTag = group user/ron minnich (rminnich)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
